include ../social-icons/social-icons
mixin top-section()
	+b.top-section&attributes(attributes)
		.container.flex-center-between
			.top-nav__btn.nav_open
				span
				span
				span
			+e.links
				a(href="#" title="link") About
				a(href="#" title="link") Contact
				a(href="#" title="link") Subscribe
			+social-icons
