.block-title
	display block
	color #1b1b1b
	font-size 15px
	font-weight bold
	text-transform uppercase
	size 100% 41px
	letter-spacing 1px
	padding 12px 20px 0
	border 1px solid #e1e1e1
	&.red
		color #ec2626
	&.blue
		color #26adec
