.breadcrumbs
	padding-top 20px
	display block
	&__link
		display inline-block
		a
			margin-right 0
			margin-bottom 10px
			font-size 10px
			font-weight 600
			text-transform uppercase
			color #ec2626
		&:nth-child(1)
			a
				color #aaa
		&:nth-child(2)
			a
				font-size 14px
