include ../social-icons/social-icons

mixin top-nav(links)
	+b.top-nav&attributes(attributes)
		.top-nav__btn.nav_close.close
			span
			span
			span

		+e.links
			each link in links
				if link == "Fashion"
					+e.link
						| #{link}
						+e.link__dropdown
							+e('a').link(href="#" title="#") Paris style
							+e('a').link(href="#" title="#") Romero notes
							+e('a').link(href="#" title="#") Dayli fashion
				else
					+e('a').link(title="#" href="#") #{link}

		+social-icons
