include ../social-icons/social-icons

mixin top-nav(links)
	+b.top-nav&attributes(attributes)
		.top-nav__btn.nav_close.close
			span
			span
			span

		+e.links
			each link in links
				+e('a').link(title="#" href="#") #{link}

		+social-icons
