include ../social-icons/social-icons
mixin top-nav()
	+b.top-nav&attributes(attributes)
		.top-nav__btn.nav_close.close
			span
			span
			span

		+e.links
			+e('a').link(title="#" href="#") HOME
			+e('a').link(title="#" href="#") FEATURES
			+e('a').link(title="#" href="#") Beauty
			+e('a').link(title="#" href="#") TRAVEL
			+e('a').link(title="#" href="#") Fashion
			+e('a').link(title="#" href="#") LIFESTYLE
			+e('a').link(title="#" href="#") Shop

		+social-icons
