include ../search/search

mixin navbar(links)
	+b.navbar&attributes(attributes)
		.container.flex-center-between
			+e('nav').nav
				each link in links
					if link === "Fashion"
						+e.nav__link
							| #{link}
							+e.nav__link__dropdown
								+e('a').nav__link(href="#" title="#") Paris style
								+e('a').nav__link(href="#" title="#") Romero notes
								+e('a').nav__link(href="#" title="#") Dayli fashion
					else
						+e('a').nav__link(href="#" title="#") #{link}

			+search

