include ../imposts/imposts
include ../social-icons/social-icons
include ../trending-posts/trending-posts
include ../latest/latest
include ../banner/banner
include ../recommend/recommend

mixin content()
	+b.page-content&attributes(attributes)
		.container
			+imposts(getData('imposts'))
		.content.flex.container
			.main
				+trending-posts(getData('trendingPosts'))
				+latest(getData('trendingPosts'))
			.aside
				.aside-social
					+social-icons.flex-center-between
					+banner
					+recommend
