include ../imposts/imposts
include ../block-title/block-title
include ../social-icons/social-icons

mixin content()
	+b.page-content&attributes(attributes)
		.container
			+imposts(getData('imposts'))
		.content.flex.container
			.main
				.tranding-posts
					+block-title.red trending
			.aside
				.aside-social
					+social-icons.flex-center-between
