include ../imposts/imposts
include ../main/main
include ../aside/aside

mixin content()
	+b.page-content&attributes(attributes)
		.container
			+imposts(getData('imposts'))
		.content.flex.container
			+main
			+aside
