include ../social-icons/social-icons
include ../post/post
include ../banner/banner
include ../recommend/recommend
include ../aside-cats/aside-cats
include ../aside-top/aside-top
include ../breadcrumbs/breadcrumbs

mixin content-post()
	+b.page-content&attributes(attributes)
		.content.flex.container
			.main
				+breadcrumbs
				+post
			.aside
				.aside-social
					+banner
					+recommend
					+aside-cats
					+aside-top(getData('trendingPosts'))
					+social-icons.flex-center-between

		script(src="//yastatic.net/share2/share.js")
