.page-content
	padding-x 20px
	display block

.content
	flex-wrap wrap
	margin-bottom 20px
	&__category
		&__title
			color #ec2626
			font-size 54px
			font-weight 400
			line-height 32px
			text-transform uppercase
			text-align center
			padding-top 30px
			padding-bottom 40px
		&__description
			font-size 15px
			margin-bottom 30px
			p
				margin-bottom 15px
	.main
		flex-grow 1
		flex-shrink 0
		flex-basis 600px
		+below(640px)
			flex-basis initial
			width 100%
	.aside
		padding-left 40px
		size 340px auto
		+below(640px)
			padding-left 0
			width 100%
