.imposts
	margin-bottom 60px
	height 520px
	+below(1000px)
		justify-content space-around
		flex-wrap wrap
		height auto
	&__col
		width 27%
		height 100%
		+below(1000px)
			width 49%
		&:nth-child(2)
			margin 0 5px
			width 45%
			+below(1000px)
				width 99%
				order -1
				margin 0 0 5px
	&__item
		position relative
		margin-bottom 5px
		display block
		overflow hidden
		size 100% 49.5%
		&:hover
			.imposts__item__img
				transform scale(1.1)
		&.big
			size 100%
			.imposts__item__title
				font-size 26px
				line-height 31px
				+below(420px)
					bottom 10px
					font-size 22px
					line-height 25px
		&__img
			transition transform .8s ease-in-out
			size 100%
			object-fit cover
		&__content
			position absolute
			top 0
			left 0
			background-image linear-gradient(to top, rgba(1, 1, 1, .66) 0, rgba(0, 0, 0, .55) 17%, rgba(0, 0, 0, .25) 26%, rgba(0, 0, 0, .23) 27%, transparent 37%, transparent 100%)
			size 100%
		&__label
			position absolute
			top -40px
			left 0
			padding 0 10px
			font-size 11px
			line-height 1.7
			letter-spacing 1.5px
			text-transform uppercase
			background-color #d71978
			+below(450px)
				top -25px
		&__title
			position absolute
			left 20px
			bottom 22px
			width 90%
			font-size 17px
			line-height 22px
			color #fff
			+below(640px)
				font-size 15px
				line-height 18px
			+below(420px)
				left 10px
				bottom 5px
				font-size 12px
				line-height 14px
