.container
	display block
	margin 0 auto
	max-width 1170px
	size 100%

.flex
	display flex
	&-between-h
		display flex
		justify-content space-between
	&-center-h
		display flex
		justify-content center
	&-center-v
		display flex
		align-items center
	&-center-between
		display flex
		justify-content space-between
		align-items center
	&-center-center
		display flex
		justify-content center
		align-items center
