extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/navbar/navbar
include /blocks/content/content
include /blocks/footer/footer
block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+header
	+navbar(getData('navItems'))
	+content
	+footer
