.trending-posts
	display block

	&__content
		position relative
		padding-top 30px
		&:before
			position absolute
			top 30px
			left 50%
			height 95%
			content ''
			border-left 1px solid #ededed
			+below(560px)
				display none
