.post-preview
	margin-bottom 30px
	padding-bottom 30px
	display block
	border-bottom 1px solid #ededed
	size 373px auto
	&.post-sm
		margin-bottom 15px
		padding-bottom 15px
		@extends .flex-between-h
		.post-preview__content
			width 240px
		.post-preview__text
			display none
		.post-preview__title
			margin-bottom 15px
			font-size 14px
			line-height 20px
		.post-preview__img
			margin-bottom 0
			size 104px 78px

	&:hover
		.post-preview__title
			color #26adec
		.post-preview__img
			filter brightness(1) saturate(2)
	&__img
		margin-bottom 25px
		display block
		transition .15s ease-out
		size 100% 280px
		object-fit cover
		img
			size 100%
	&__title
		margin-bottom 20px
		display block
		font-size 18px
		color #111
		transition .15s ease-out
	&__text
		margin-bottom 20px
		display block
		font-size 13px
		color #7b7b7b
	&__meta
		display block
		font-size 11px
	&__author
		margin-right 15px
		color #444
	&__date
		margin-right 15px
		color #7b7b7b
	&__comments
		color #444
		&__icon
			position relative
			top 2px
			margin-right 5px
			size 14px 12px
			fill #444
