include ../top-section/top-section
include ../top-nav/top-nav
include ../logo/logo

mixin header()
	+b('header').header&attributes(attributes)
		+top-nav(getData('navItems'))
		+top-section
		.container
			+logo
