.post
	padding-top 10px
	display block
	&__title
		margin-bottom 20px
		font-size 38px
		line-height 1.3
		color #111
		+below(600px)
			font-size 20px
	&__meta
		.ya-share2__container_size_m .ya-share2__icon
			size 35px
		&__info
			margin-y 15px
		&__author
			color #aaa
			span
				color #444
		&__date
			margin-x 10px
			color #aaa
		&__comments
			color #444
			&__icon
				position relative
				top 0
				margin-right 5px
				size 14px 12px
				fill #444

	&__content
		img
			margin-y 30px
			&.float-left
				margin-right 30px
				float left
				+below(500px)
					margin-right 0
					float none
			&.float-right
				margin-left 30px
				float right
				+below(500px)
					margin-left 0
					float none
		h3
			margin-bottom 20px
			font-size 25px
			font-weight bold
			color #111
		p
			margin-bottom 20px
			font-size 18px
			line-height 1.5

		blockquote
			margin-y 20px
			padding-left 30px
			display block
			font-size 22px
			line-height 25px
			color #111
			border-left 5px solid #ec2626

	&__foot
		padding-y 20px
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		.ya-share2
			margin-y 15px
	&__tags
		margin-y 15px
		&__title
			margin-right 10px
			padding 3px 10px
			font-size 11px
			line-height 1
			text-transform uppercase
			color white
			background #000
		&__keys
			font-size 13px
			font-weight 600
			line-height 24px
			color #ec2626

	&__author
		margin-bottom 30px
		padding-y 50px
		display flex
		border-top 1px solid #ededed
		border-bottom 1px solid #ededed
		&__ava
			overflow hidden
			border-radius 50%
			size 100px
			flex-shrink 0
			object-fit cover
			+below(500px)
				size 60px
		&__info
			padding-left 30px
		&__name
			margin-bottom 15px
			font-size 18px
			font-weight bold
			line-height 24px
			color #111
		&__desc
			margin-bottom 10px
			font-weight 14px
			line-height 20px
			color #4b4b4b
		&__contacts
			font-size 14px
