include ../icon/icon

mixin social-icons()
	+b.social-icons&attributes(attributes)
		a.twt(href="#")
			+icon('twitter')
		a.vk(href="#")
			+icon('vk')
		a.instagram(href="#")
			+icon('instagram')
		a.gp(href="#")
			+icon('google-plus')
		a.yt(href="#")
			+icon('youtube')
		a.fb(href="#")
			+icon('fb')
