.social-icons
	display block
	.top-section &
		+below(750px)
			display none
	a
		margin-left 10px
	svg
		transition .15s ease-out
		size 20px 15px
		fill #000
		&:hover
			fill #26adec
		&:active
			fill #ec2626

	.aside-social &
		display flex
		a
			display flex
			background #7e7e7e
			border 1px solid #f2f2f2
			border-radius 50%
			transition .25s ease-out
			size 40px
			&.twt:hover
				background #26adec
			&.vk:hover
				background #507299
			&.instagram:hover
				background #ff0074
			&.gp:hover
				background #f10006
			&.yt:hover
				background #ec2626
			&.fb:hover
				background #4169a7
			&:active
				background #ec2626
		svg
			size 20px 16px
			fill #fff
			margin auto
