include ../icon/icon

mixin social-icons()
	+b.social-icons&attributes(attributes)
		a(href="#")
			+icon('twitter')
		a(href="#")
			+icon('vk')
		a(href="#")
			+icon('instagram')
		a(href="#")
			+icon('google-plus')
		a(href="#")
			+icon('youtube')
		a(href="#")
			+icon('fb')
